.text_progress_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 50px 240px 50px;
  word-break: keep-all;
}
.text_progress_container .title{
  width: 100%;
  text-align: center;
  font-size: 23px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}
.text_progress_container .subtitle{
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: black;
}
.text_progress_container .item_container{
  margin: 30px 0 120px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  width: 100%;
}

.text_progress_container .text{
  color: black;
  width: 100%;
  margin-top: 20px;
  white-space:pre-wrap;
}
.text_progress_container .bold_text{
  color: black;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.url_container{
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.url_container a{
  color: blue !important;
}
.url_container p{
  color: black !important;
}